{{!-- <main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Favorite Links</h1>
            <h3 class="mb-5">
                <em>Store your favorite Website's Links</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Let's get started
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main> --}}

<main style="width: 100%; height: 100vh;">
    <section class="container">
        <article class="mt-5">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <img src="https://mdbootstrap.com/img/Marketing/mdb-press-pack/mdb-main.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-6 col-sm-6">
                    <div>
                        <h2>Acerca de Nosotros</h2>
                    </div>
                    <div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Misión</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Visión</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Historia</a>
                            </li>
                        </ul>
                        <div class="tab-content card pt-5">
                            <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua,
                                retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.
                                Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>
                            </div>
                            <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                                Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
                                farm-to-table craft beer twee.</p>
                            </div>
                            <div class="tab-pane" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo
                                retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer,
                                iphone skateboard locavore carles etsy salvia banksy hoodie helvetica.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <section class="container">
        <article>
            <div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <!-- Card Narrower -->
                    <div class="card card-cascade narrower">

                        <!-- Card image -->
                        <div class="view view-cascade overlay">
                            <img  class="card-img-top" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg" alt="Card image cap">
                            <a>
                            <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body card-body-cascade">

                            <!-- Label -->
                            <h5 class="pink-text pb-2 pt-1"><i class="fas fa-utensils"></i> Culinary</h5>
                            <!-- Title -->
                            <h4 class="font-weight-bold card-title">Cheat day inspirations</h4>
                            <!-- Text -->
                            <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.</p>
                            <!-- Button -->
                            <a class="btn btn-unique">Button</a>

                        </div>

                    </div>
                    <!-- Card Narrower -->
                </div>
                <div class="col-md-4">
                    <!-- Card Narrower -->
                    <div class="card card-cascade narrower">

                        <!-- Card image -->
                        <div class="view view-cascade overlay">
                            <img  class="card-img-top" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg" alt="Card image cap">
                            <a>
                            <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body card-body-cascade">

                            <!-- Label -->
                            <h5 class="pink-text pb-2 pt-1"><i class="fas fa-utensils"></i> Culinary</h5>
                            <!-- Title -->
                            <h4 class="font-weight-bold card-title">Cheat day inspirations</h4>
                            <!-- Text -->
                            <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.</p>
                            <!-- Button -->
                            <a class="btn btn-unique">Button</a>

                        </div>

                    </div>
                    <!-- Card Narrower -->
                </div>
                <div class="col-md-4">
                    <!-- Card Narrower -->
                    <div class="card card-cascade narrower">

                        <!-- Card image -->
                        <div class="view view-cascade overlay">
                            <img  class="card-img-top" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg" alt="Card image cap">
                            <a>
                            <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body card-body-cascade">

                            <!-- Label -->
                            <h5 class="pink-text pb-2 pt-1"><i class="fas fa-utensils"></i> Culinary</h5>
                            <!-- Title -->
                            <h4 class="font-weight-bold card-title">Cheat day inspirations</h4>
                            <!-- Text -->
                            <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.</p>
                            <!-- Button -->
                            <a class="btn btn-unique">Button</a>

                        </div>

                    </div>
                    <!-- Card Narrower -->
                </div>
            </div>
        </article>
    </section>
</main>
