{{!-- <div class="container-fluid"> --}}
    <nav id="navbar" class="navbar navbar-expand-lg pr-5 pl-5">
        <a class="navbar-brand" href="/">
            <img src="/img/logo.png" width="60" height="60" alt="" srcset="">  Acajutla Destinos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-align-right txt-purple"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="mr-auto"></div>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/"><i class="nav-icon fas fa-home"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gallerys"><i class="nav-icon fas fa-images"></i> Galería</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gastronomys"><i class="nav-icon fas fa-utensils"></i> Gastronomía</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tours"><i class="nav-icon fas fa-plane-departure"></i> Tours</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacts"><i class="nav-icon fas fa-id-badge"></i> Contacto</a>
                </li>
            </ul>
        </div>
    </nav>
{{!-- </div> --}}
<header>
    <div id="banner-img">
        <div class="header-img"></div>
    </div>
</header>